.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  container-type: inline-size;
  container-name: footer-container;
  border-top: 4px solid #333;

  height: 16%;
  width: 100vw;
  padding: 0 1vw;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  overflow: hidden;

  z-index: 1000; 
  transition: width 0.05s ease-in-out;
}

.footer p {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  line-height: 1;

  /*padding: 0 0 16px 0;*/
  margin: 0;
  white-space: nowrap;
  /*gap: 2.5cqw;*/

  font-size: clamp(2rem, 15vw, 6.2rem);
  transition: none;
}

.footer p span, 
.footer p a {
  display: inline-block;
}

.clickable-word {
  cursor: pointer;
  position: relative; /* Essential for transform animations */
  display: inline-block; /* Helps with positioning and transforms */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
  white-space: nowrap;
}

.clickable-word:hover,
.clickable-word:focus {
  color: #F28500;
}

.clickable-word.active {
  color: #F28500;
}

.with-strikethrough::after {
  content: '';
  position: absolute;
  top: 55%; /* Vertically center the line */
  left: 0;
  right: 0;
  height: 0.07em; /* Adjust thickness as needed */
  background-color: rgba(0, 0, 0, 0.15); /* Semi-transparent black for fainter effect */
  transform: translateY(-50%); /* Adjust for precise vertical centering */
}

/* Animation Keyframes */
@keyframes subtleBounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5em); /* Peak of the bounce */
    /*color: #F28500;*/
  }
  60% {
    transform: translateY(-0.2em); /* Smaller secondary bounce */
  }
}

/* Class to apply the animation */
.bounce-on-load {
  animation: subtleBounce 1.5s ease-out forwards;
  animation-delay: var(--animation-delay, 0s); /* Use CSS variable for delay */
}

@media (max-width: 1023px) {
  .footer {
    width: 100vw;
  }

  @keyframes subtleBounce {
    40%, 60% {
      transform: translateY(0);
    }
  }

  .clickable-word.active {
    color: #333;
  }

  .clickable-word:hover {
    color: #333;
  }

  .clickable-word {
    cursor: initial;
  }

  .hideClickableWords {
    display: none;
  }

  .with-strikethrough::after {
    background-color: rgba(0, 0, 0, 0.50);
  }
  
}

@media (min-width: 1024px) and (max-width: 1580px) {
  .hideClickableWords {
    display: none;
  }
}

@media (max-width: 1023px) {
  .footer p {
    justify-content: center;
    margin-top: 12px;
  }
} 
