@font-face {
  font-family: "Chromatica";
  src: url("assets/fonts/ChromaticaTrial-Regular.otf");
}

body {
  background-color: #E8E6E2;
  color: #333333;
  font-family: "Chromatica";
  /*line-height: 0;*/
}
